@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html,
body {
  margin: 0;
  height: 100%;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: #f1f5f9;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}
.input-form{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.input-form input {
  border-radius: 2rem;  
  padding: 10px 20px;
  width: 400px;
  border: 1px solid transparent;  
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.input-form input:focus {
  outline: none;
}

.input-form input:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
}

.input-form button {
  border-radius: 2rem; 
  padding: 10px 20px;
  border: 1px solid transparent;
  background-color: cadetblue;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.input-form button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-1px);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.cafe-category-name{
  border: 1px solid transparent;
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  margin: 2px 4px;
  padding: .5rem .5rem;
}

.cafe-category-name:hover{
  border: 1px solid transparent;
  background-color: rgb(248, 232, 201);
  box-shadow: 0px 15px 20px rgba(248, 232, 201, 0.4);
  color: #000;
  transform: translateY(-1px);
  transition: all 0.3s ease 0s;
  cursor: pointer;
} 

#app {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

main .wrapper {
  width: 540px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 10px 30px 20px 20px;
}

hr {
  border: 0;
  height: 1px;
  background-color: lightgray;
}

ul li button {
  width: 80px;
  padding: 5px 10px;
  line-height: inherit;
  cursor: pointer;
  height: auto;
  border: none;
  outline: none;
  border-radius: 2rem;  
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  margin-right: 5px;
}

ul li button:hover {
  background-color: aliceblue;
  box-shadow: 0px 15px 20px rgba(100, 100, 100, 0.4);
  color: #000;
  transform: translateY(-1px);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.sold-out {
  text-decoration: line-through;
  color: gray;
}

h2 {
  font-size: 25px;
  font-weight: 600;
}

#menu-title {
  justify-content: space-between;
  align-items: center;
  height: 60px;
  
}

#menu-title span {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
}

#menu-title button{
  width: 100px;
  padding: 5px 10px;
  line-height: inherit;
  cursor: pointer;
  height: auto;
  border: none;
  outline: none;
  border-radius: 2rem;  
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  margin-right: 5px;
  font-weight: 600;
}

.shopping-button {
  box-shadow: rgba(17, 17, 26, 0.5) 0px 4px 10px;
  background-color: rgb(240, 240, 240);
  border: 1px solid transparent;
  border-radius: 50%;
  float: right;
  padding: 11px 15px 13px 10px;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}

.shopping-button img{
  width: 35px;
  height: 35px;
}

/* Tooltip text */

.tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 8px 5px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  left: 115%;
  bottom: 50%;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.shopping-button:hover .tooltiptext {
  visibility: visible;
}

.shopping-button:hover {
  background-color: aliceblue;
  box-shadow: 0px 15px 20px rgba(180, 230, 230, 0.6);
  transform: translateY(-1px);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.add-shop-button {
  display: block;
  float: right;
  cursor: pointer;
  line-height: 40px;
  width: 191px;
  height: 42px;
  background: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 2rem;  
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.add-shop-button:hover{
  background-color: aliceblue;
  box-shadow: 0px 15px 20px rgba(180, 230, 230, 0.6);
  color: #000;
  transform: translateY(-1px);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

a:last-child {
  position: absolute;
  top: 0;
  font-size: 12px;
}

.hidden {
  display: none;
}

/* <!--========================================================
                              HEADER
    =========================================================--> */

/* <!--========================================================
                              CONTENT
    =========================================================--> */

/* <!--========================================================
                              FOOTER
=========================================================--> */

@media screen and (max-width: 576px) {
  .cafe-category-name {
    font-size: 14px;
  }
  .input-form input {
    width: 300px;
  }
}